@import url(./common.css);

main{
    position: relative;
}

.set1 > .m1 > ul{  
    position: absolute;
    top: 28%;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.set1 > .m1 > ul > li{
    display: inline-block;
    width: 350px;
    height: 300px;
    text-align: center;
    margin: 0 20px;
    padding: 50px;
    border: 1px solid rgba(0, 71, 150, 0.1);
    border-radius: 10px;
    background-color: white;
}

.set1 > .m1 > ul > li > p{
    padding: 10px;
}

.set1 > .m1 > ul > li > a img{
    position: absolute;
    bottom: 0;
    transform: translate(-70%, -30%);
    width: 30px;
    margin: 10px;
}

.set1 > .m1 > ul > li > p:nth-of-type(2){
    color: #004796;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.set1 > .m1 > ul > li > p:nth-of-type(3){
    font-size: 14px;
}

.set1 > .m1 > .text1{
    position: absolute; 
    left: 10%;
    top: 10%;
    font-size: 4.6rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}

.set1 > .m1 > .text1 > p:nth-of-type(3){
    font-size: 28px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.set1 .m1 .indi a{
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 12%;
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
}

.set1 .m1 .indi a:nth-of-type(1){
    left: 40px;
}

.set1 .m1 .indi a:nth-of-type(2){
    right: 40px;
}

.quick{
    position: fixed;
    display: block;
    right: 0px;
    top: 15%;
    width: 90px;
    text-align: center;
    background-color: white;
    border-radius: 5%;
    z-index: 5;
    border: 1px solid #004796;
}

.quick p{
    background-color: #004796;
    color: white;
    margin: 0;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.quick a{
    margin: 20px;
    line-height: 30px;
}

.quick a:nth-of-type(3){
    margin: 20px 0;
}

.quick button{
    position: fixed;
    transform: translate(-40%, 40%);
    border-radius: 100%;
    border: 1px solid #004796;
    color: #004796;
    padding: 2px;
    width:30px;
    height: 30px;
    background-color: white;
}

/*  */

.set2{
    margin: 200px auto;
}

.set2 article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.set2 article .text2{
    width: 35%;
}

.set2 article ul li{
    padding: 10px;
}

.set2 .text2 .board {
    border-bottom: 2px solid #004796;
}

.set2 .text2 .board2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.set2 .text2 ul.board2-1{
    display: none;
}

.set2 .text2 div.board2-1:hover ul.board2-1{
    display: block;
}

.set2 .text2 .board2 a{
    margin-right: 20px;
}


.set2 .text2 .board .plus{
    border: 1px solid #004796;
    border-radius: 100%;
    width: 25px;
    text-align: center;
    align-items: center;
}

.set2 article .text2 .board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.set2 article ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set2 article ul li p:nth-of-type(1){
    color: #004796;
    font-weight: bold;
}

.set2 article ul li b{
    color: #F4B41C;
}

.set2 article .banner{
    position: relative;
    border: 1px solid #004796;
    padding: 50px;
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
    color: #004796;
}

.set2 article .banner a{
    position: absolute;
    bottom: 10px;
    left: 10px;    
    width: 30%;
    padding: 5px;
    font-size: 60%;
    border-bottom: 2px solid #F4B41C;
}


/*  */

.set3 {
    position: relative;
    background-color: #004796;
    padding: 200px 0;
}

.set3 .txt1, .txt2{
    color: rgba(255,255,255,0.1);
    font-weight: bold;
    font-size: 9rem;
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    white-space: nowrap;
    display: flex;
    width:2248px;
    
}
.set3 .txt1 p, .txt2 p{margin:0;}

.set3 .txt1{ 
    left: 0;
    top: 0;
    animation: txtmove 10s infinite linear;
}

.set3 .txt2{
    left: 0;
    bottom: 0;
    animation: txt2move 10s infinite linear;
}

@keyframes txtmove {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

@keyframes txt2move {
    0%{transform: translateX(0%);}
    100%{transform: translateX(-100%);}
}

.set3 .vdo ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50px;
}

.set3 .vdo ul li{
    position: relative;
}

.set3 .vdo ul li p{
    display: flex;
    align-items: center;
}

.set3 .vdo ul li p img{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    border: 5px solid white;    
}

.set3 .vdo ul li p:nth-of-type(2){
    position: absolute;
    transform: translate(30%, 30%);
    color: white;
    width: 250px;
    text-align: center;
}

.set3 .vdo ul li:nth-of-type(3) p:nth-of-type(2){
    transform: translate(50%, 30%);
}

.set3 .vdo ul li > p > a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 5rem;
    position: absolute;
    left: 50px;
    transform: translate(150%,5%);
}

.set3 .vdo ul li:hover > p:nth-of-type(1){
    opacity: 1;
}

.set3 .vdo ul li:hover > p:nth-of-type(1) > a{
    font-size: 5.5rem;
    transform: translate(130%, 5%);
}


/*  */

.set4 .photo{
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.set4 .photo ul{
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.set4 .photo ul li{
    margin: 100px 30px ;
    overflow: hidden;
}


.set4 .photo ul li p{
    text-align: center;
}

.set4 .indi4 a{
    color: #004796;
    z-index: 2;
    font-size: 4rem;
}

.set4 .indi4 a:nth-of-type(1){
    position: absolute;
    left: 5%;
    top: 35%;
}

.set4 .indi4 a:nth-of-type(2){
    position: absolute;
    right: 5%;
    top: 35%;
}






