@import url(./common.css);
@import url(./sub_common.css);

main{
    width: 100%;
}

main .con1 .tit-sub p:nth-of-type(5){
    color: #004796;
    font-weight: bold;
}

.sec2{
    width: 1400px;
    margin: 100px auto;
}

.sec2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.sec2 ul li{
    padding: 20px;
    font-size: 1.5rem;
    color: #004796;
    font-weight: bold;
}

.sec2 ul li:nth-of-type(2){
    color: #004796;
}

/*  */

